.section-title__subtitle
  margin-right: auto
  margin-left: auto
  justify-content: center
  align-items: center
  max-width: 52.63rem
  margin-bottom: 2.985rem
  margin-top: 1.5rem
  width: 1236px
.design
  &__subtitle
    color: $dark
    font-family: 'Futura Book'
    font-style: normal
    font-weight: normal
    font-size: 1.4rem
    line-height: 1.9rem
    text-align: center
    text-transform: none
  &__section-title  
    width: 1236px  
    
      
      
.design-card__pricetag
  position: absolute
  left: 0
  bottom: -1.79rem   
  font-size: 1.29rem 
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  background-color: $primary
  color: $light
  padding: 1.214rem 5.8rem 1.214rem 2.357rem      
    
    
    
       
